@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: "Poppins";
}
.bg-img {
  background-image: url("/public/assets/png/bg-imge.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* select option:hover {
  background: #f1f5f9 !important;
  color: #334155 !important;
  opacity: 1 !important;
}
select:hover {
  background: #f1f5f9 !important;
  color: #334155 !important;
  opacity: 1 !important;
}
select:active {
  background: #f1f5f9 !important;
  color: #334155 !important;
  opacity: 1 !important;
}
select:focus {
  background: #f1f5f9 !important;
  color: #334155 !important;
  opacity: 1 !important;
}
select:checked {
  background: #f1f5f9 !important;
  color: #334155 !important;
  opacity: 1 !important;
}
select:focus-within {
  background: #f1f5f9 !important;
  color: #334155 !important;
  opacity: 1 !important;
}
select:focus-visible {
  background: #f1f5f9 !important;
  color: #334155 !important;
  opacity: 1 !important;
}
select:-moz-focusring {
  background: #f1f5f9 !important;
  color: #334155 !important;
  opacity: 1 !important;
}
select option:active {
  background: #f1f5f9 !important;
  color: #334155 !important;
  opacity: 1 !important;
}
select option:focus-within {
  background: #f1f5f9 !important;
  color: #334155 !important;
  opacity: 1 !important;
}
select option:focus {
  background: #f1f5f9 !important;
  color: #334155 !important;
  opacity: 1 !important;
}
select option:focus-visible {
  background: #f1f5f9 !important;
  color: #334155 !important;
  opacity: 1 !important;
}
select option:checked {
  background: #f1f5f9 !important;
  color: #334155 !important;
  opacity: 1 !important;
}
select option:target {
  background: #f1f5f9 !important;
  color: #334155 !important;
  opacity: 1 !important;
}
select option:hover {
  background-color: yellow !important;
}
select option::after {
  background-color: yellow !important;
}
select option::before {
  background-color: yellow !important;
}
select {
  background: #f1f5f9 !important;
  color: #334155 !important;
}
option {
  background: #f1f5f9 !important;
  color: #334155 !important;
} */
/* select.decorated option:hover {
  background: #f1f5f9 !important;
  color: #334155 !important;
  opacity: 1 !important;
} */
option:checked {
  background: #f1f5f9 !important;
  color: #334155 !important;
  opacity: 1 !important;
}
option:not(:checked) {
  background: #f1f5f9 !important;
  color: #334155 !important;
  opacity: 1 !important;
}

/* option:hover {
  background-color: rgba(48, 48, 48) !important;
  color: orange !important;
} */

select > option.test:hover {
  color: #7e3f1b;
  cursor: pointer;
}
